In [7]:
# Getting data from Yahoo Finance API (yfinance)
import sys
!{sys.executable} -m pip install yfinance
# technical analysis
!{sys.executable} -m pip install ta

Requirement already satisfied: yfinance in c:\users\wynna\anaconda3\lib\site-packages (0.1.60)
Requirement already satisfied: lxml>=4.5.1 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (1.20.1)
Requirement already satisfied: requests>=2.20 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (2.25.1)
Requirement already satisfied: pandas>=0.24 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (1.2.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\wynna\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\wynna\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\wynna\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wynna\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\wynna\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wynna\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\wynna\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Collecting ta
  Downloading ta-0.7.0.tar.gz (25 kB)
Requirement already satisfied: numpy in c:\users\wynna\anaconda3\lib\site-packages (from ta) (1.20.1)
Requirement already satisfied: pandas in c:\users\wynna\anaconda3\lib\site-packages (from ta) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\wynna\anaconda3\lib\site-packages (from pandas->ta) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\wynna\anaconda3\lib\site-packages (from pandas->ta) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\wynna\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->ta) (1.15.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py): started
  Building wheel for ta (setup.py): finished with status 'done'
  Created wheel for ta: filename=ta-0.7.0-py3-none-any.whl size=28718 sha256=4ad2b7ef8ddb6002ff672fc758f5a5e09798aa8b588e629eaec0eec13633e01b
  Stored in directory: c:\users\wynna\appdata\local\pip\cache\wheels\bb\7c\a0\9c72e50ddef1f7c3d9003bf4ccc5d5c8deb24828d4eb156fc8
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.7.0

In [4]:
import yfinance as yf
tickerSymbol = 'AMZN'

# Dates - excluding COVID because that was a significant irregularity
startDate = '2013-01-01'
endDate = '2020-01-01'

# Get the ticker data - updated daily (one row per day)
tickerData = yf.Ticker(tickerSymbol)
df = tickerData.history(start=startDate, end=endDate)
print(df.shape)
df.head()

(1762, 7)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-01-02,256.079987,258.100006,253.259995,257.309998,3271000,0,0
2013-01-03,257.269989,260.880005,256.369995,258.480011,2750900,0,0
2013-01-04,257.579987,259.799988,256.649994,259.149994,1874200,0,0
2013-01-07,262.970001,269.730011,262.670013,268.459991,4910000,0,0
2013-01-08,267.070007,268.980011,263.570007,266.380005,3010700,0,0

In [5]:
# Cleaning data
import pandas as pd
import numpy as np

# The date is a string and is the ID of the dataframe
date_change = "%Y-%m-%d" # year-month-day
df['Date'] = df.index
df['Date'] = pd.to_datetime(df['Date'], format=date_change)
Dates = df['Date']
print(Dates)

Date
2013-01-02   2013-01-02
2013-01-03   2013-01-03
2013-01-04   2013-01-04
2013-01-07   2013-01-07
2013-01-08   2013-01-08
                ...
2019-12-24   2019-12-24
2019-12-26   2019-12-26
2019-12-27   2019-12-27
2019-12-30   2019-12-30
2019-12-31   2019-12-31
Name: Date, Length: 1762, dtype: datetime64[ns]