In [1]:
# Getting data from Yahoo Finance API (yfinance)
import sys
!{sys.executable} -m pip install yfinance
# technical analysis
!{sys.executable} -m pip install ta 
!{sys.executable} -m pip install fastai==1.0.61

Requirement already satisfied: yfinance in c:\users\wynna\anaconda3\lib\site-packages (0.1.60)
Requirement already satisfied: pandas>=0.24 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (1.2.4)
Requirement already satisfied: lxml>=4.5.1 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (1.20.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in c:\users\wynna\anaconda3\lib\site-packages (from yfinance) (2.25.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\wynna\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\wynna\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\wynna\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\wynna\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wynna\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\wynna\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wynna\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)
Requirement already satisfied: ta in c:\users\wynna\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied: pandas in c:\users\wynna\anaconda3\lib\site-packages (from ta) (1.2.4)
Requirement already satisfied: numpy in c:\users\wynna\anaconda3\lib\site-packages (from ta) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\wynna\anaconda3\lib\site-packages (from pandas->ta) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\wynna\anaconda3\lib\site-packages (from pandas->ta) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\wynna\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->ta) (1.15.0)
Requirement already satisfied: fastai==1.0.61 in c:\users\wynna\anaconda3\lib\site-packages (1.0.61)
Requirement already satisfied: nvidia-ml-py3 in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (7.352.0)
Requirement already satisfied: beautifulsoup4 in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (4.9.3)
Requirement already satisfied: pandas in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (1.2.4)
Requirement already satisfied: packaging in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (20.9)
Requirement already satisfied: matplotlib in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (3.3.4)
Requirement already satisfied: numexpr in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (2.7.3)
Requirement already satisfied: pyyaml in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (5.4.1)
Requirement already satisfied: torch>=1.0.0 in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (1.9.0)
Requirement already satisfied: scipy in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (1.6.2)
Requirement already satisfied: fastprogress>=0.2.1 in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (1.0.0)
Requirement already satisfied: Pillow in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (8.2.0)
Requirement already satisfied: requests in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (2.25.1)
Requirement already satisfied: bottleneck in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (1.3.2)
Requirement already satisfied: numpy>=1.15 in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (1.20.1)
Requirement already satisfied: torchvision in c:\users\wynna\anaconda3\lib\site-packages (from fastai==1.0.61) (0.10.0)
Requirement already satisfied: typing-extensions in c:\users\wynna\anaconda3\lib\site-packages (from torch>=1.0.0->fastai==1.0.61) (3.7.4.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\wynna\anaconda3\lib\site-packages (from beautifulsoup4->fastai==1.0.61) (2.2.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\wynna\anaconda3\lib\site-packages (from matplotlib->fastai==1.0.61) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\wynna\anaconda3\lib\site-packages (from matplotlib->fastai==1.0.61) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\wynna\anaconda3\lib\site-packages (from matplotlib->fastai==1.0.61) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\wynna\anaconda3\lib\site-packages (from matplotlib->fastai==1.0.61) (1.3.1)
Requirement already satisfied: six in c:\users\wynna\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->fastai==1.0.61) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\wynna\anaconda3\lib\site-packages (from pandas->fastai==1.0.61) (2021.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wynna\anaconda3\lib\site-packages (from requests->fastai==1.0.61) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\wynna\anaconda3\lib\site-packages (from requests->fastai==1.0.61) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wynna\anaconda3\lib\site-packages (from requests->fastai==1.0.61) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\wynna\anaconda3\lib\site-packages (from requests->fastai==1.0.61) (4.0.0)

In [2]:
import yfinance as yf
tickerSymbol = 'AMZN'

# Dates - excluding COVID because that was a significant irregularity
startDate = '2013-01-01'
endDate = '2020-01-01'

# Get the ticker data - updated daily (one row per day)
tickerData = yf.Ticker(tickerSymbol)
df = tickerData.history(start=startDate, end=endDate)
print(df.shape)
df.head()

(1762, 7)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-01-02,256.079987,258.100006,253.259995,257.309998,3271000,0,0
2013-01-03,257.269989,260.880005,256.369995,258.480011,2750900,0,0
2013-01-04,257.579987,259.799988,256.649994,259.149994,1874200,0,0
2013-01-07,262.970001,269.730011,262.670013,268.459991,4910000,0,0
2013-01-08,267.070007,268.980011,263.570007,266.380005,3010700,0,0

In [3]:
# Cleaning data
import pandas as pd
import numpy as np

# The date is a string and is the ID of the dataframe
date_change = "%Y-%m-%d" # year-month-day
df['Date'] = df.index
df['Date'] = pd.to_datetime(df['Date'], format=date_change)
Dates = df['Date']
print(Dates)

Date
2013-01-02   2013-01-02
2013-01-03   2013-01-03
2013-01-04   2013-01-04
2013-01-07   2013-01-07
2013-01-08   2013-01-08
                ...
2019-12-24   2019-12-24
2019-12-26   2019-12-26
2019-12-27   2019-12-27
2019-12-30   2019-12-30
2019-12-31   2019-12-31
Name: Date, Length: 1762, dtype: datetime64[ns]

In [4]:
from ta import add_all_ta_features # ta = technical analysis
df = add_all_ta_features(df,"Open","High","Low","Close","Volume",fillna=True)
print(df.columns)

C:\Users\wynna\anaconda3\lib\site-packages\ta\trend.py:768: RuntimeWarning: invalid value encountered in double_scalars
  dip[i] = 100 * (self._dip[i] / self._trs[i])
C:\Users\wynna\anaconda3\lib\site-packages\ta\trend.py:772: RuntimeWarning: invalid value encountered in double_scalars
  din[i] = 100 * (self._din[i] / self._trs[i])

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'Date', 'volume_adi', 'volume_obv', 'volume_cmf', 'volume_fi',
       'volume_mfi', 'volume_em', 'volume_sma_em', 'volume_vpt', 'volume_nvi',
       'volume_vwap', 'volatility_atr', 'volatility_bbm', 'volatility_bbh',
       'volatility_bbl', 'volatility_bbw', 'volatility_bbp', 'volatility_bbhi',
       'volatility_bbli', 'volatility_kcc', 'volatility_kch', 'volatility_kcl',
       'volatility_kcw', 'volatility_kcp', 'volatility_kchi',
       'volatility_kcli', 'volatility_dcl', 'volatility_dch', 'volatility_dcm',
       'volatility_dcw', 'volatility_dcp', 'volatility_ui', 'trend_macd',
       'trend_macd_signal', 'trend_macd_diff', 'trend_sma_fast',
       'trend_sma_slow', 'trend_ema_fast', 'trend_ema_slow', 'trend_adx',
       'trend_adx_pos', 'trend_adx_neg', 'trend_vortex_ind_pos',
       'trend_vortex_ind_neg', 'trend_vortex_ind_diff', 'trend_trix',
       'trend_mass_index', 'trend_cci', 'trend_dpo', 'trend_kst',
       'trend_kst_sig', 'trend_kst_diff', 'trend_ichimoku_conv',
       'trend_ichimoku_base', 'trend_ichimoku_a', 'trend_ichimoku_b',
       'trend_visual_ichimoku_a', 'trend_visual_ichimoku_b', 'trend_aroon_up',
       'trend_aroon_down', 'trend_aroon_ind', 'trend_psar_up',
       'trend_psar_down', 'trend_psar_up_indicator',
       'trend_psar_down_indicator', 'trend_stc', 'momentum_rsi',
       'momentum_stoch_rsi', 'momentum_stoch_rsi_k', 'momentum_stoch_rsi_d',
       'momentum_tsi', 'momentum_uo', 'momentum_stoch',
       'momentum_stoch_signal', 'momentum_wr', 'momentum_ao', 'momentum_kama',
       'momentum_roc', 'momentum_ppo', 'momentum_ppo_signal',
       'momentum_ppo_hist', 'others_dr', 'others_dlr', 'others_cr'],
      dtype='object')

In [5]:
# see if there are any special dates
import fastai.tabular
fastai.tabular.add_datepart(df,'Date',drop=True) # if it doesn't have one, just drop

C:\Users\wynna\anaconda3\lib\site-packages\fastai\tabular\transform.py:63: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  for n in attr: df[prefix + n] = getattr(field.dt, n.lower())

,Open,High,Low,Close,Volume,Dividends,Stock Splits,volume_adi,volume_obv,volume_cmf,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,256.079987,258.100006,253.259995,257.309998,3271000,0,0,2.203185e+06,3271000,0.673551,...,2,2,2,False,False,False,False,False,False,1357084800
2013-01-03,257.269989,260.880005,256.369995,258.480011,2750900,0,0,2.026312e+06,6021900,0.336490,...,3,3,3,False,False,False,False,False,False,1357171200
2013-01-04,257.579987,259.799988,256.649994,259.149994,1874200,0,0,3.127038e+06,7896100,0.396023,...,4,4,4,False,False,False,False,False,False,1357257600
2013-01-07,262.970001,269.730011,262.670013,268.459991,4910000,0,0,6.270523e+06,12806100,0.489651,...,7,0,7,False,False,False,False,False,False,1357516800
2013-01-08,267.070007,268.980011,263.570007,266.380005,3010700,0,0,6.387385e+06,9795400,0.403835,...,8,1,8,False,False,False,False,False,False,1357603200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,1793.810059,1795.569946,1787.579956,1789.209961,881300,0,0,3.534037e+08,428351800,0.110968,...,24,1,358,False,False,False,False,False,False,1577145600
2019-12-26,1801.010010,1870.459961,1799.500000,1868.770020,6005400,0,0,3.591231e+08,434357200,0.148106,...,26,3,360,False,False,False,False,False,False,1577318400
2019-12-27,1882.920044,1901.400024,1866.010010,1869.800049,6186600,0,0,3.542616e+08,440543800,0.038199,...,27,4,361,False,False,False,False,False,False,1577404800
2019-12-30,1874.000000,1884.000000,1840.619995,1846.890015,3674700,0,0,3.516491e+08,436869100,0.026659,...,30,0,364,False,False,False,False,False,False,1577664000
2019-12-31,1842.000000,1853.260010,1832.229980,1847.839966,2506500,0,0,3.528636e+08,439375600,0.053330,...,31,1,365,True,False,True,False,True,False,1577750400

In [6]:
df['Date'] = pd.to_datetime(df.index.values, format=date_change)
fastai.tabular.add_cyclic_datepart(df,'Date',drop=True)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,volume_adi,volume_obv,volume_cmf,...,Is_year_start,Elapsed,weekday_cos,weekday_sin,day_month_cos,day_month_sin,month_year_cos,month_year_sin,day_year_cos,day_year_sin
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,256.079987,258.100006,253.259995,257.309998,3271000,0,0,2.203185e+06,3271000,0.673551,...,False,1357084800,-0.222521,0.974928,0.979530,0.201299,1.000000,0.0,0.999852,0.017213
2013-01-03,257.269989,260.880005,256.369995,258.480011,2750900,0,0,2.026312e+06,6021900,0.336490,...,False,1357171200,-0.900969,0.433884,0.918958,0.394356,1.000000,0.0,0.999407,0.034422
2013-01-04,257.579987,259.799988,256.649994,259.149994,1874200,0,0,3.127038e+06,7896100,0.396023,...,False,1357257600,-0.900969,-0.433884,0.820763,0.571268,1.000000,0.0,0.998667,0.051620
2013-01-07,262.970001,269.730011,262.670013,268.459991,4910000,0,0,6.270523e+06,12806100,0.489651,...,False,1357516800,1.000000,0.000000,0.347305,0.937752,1.000000,0.0,0.994671,0.103102
2013-01-08,267.070007,268.980011,263.570007,266.380005,3010700,0,0,6.387385e+06,9795400,0.403835,...,False,1357603200,0.623490,0.781831,0.151428,0.988468,1.000000,0.0,0.992749,0.120208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,1793.810059,1795.569946,1787.579956,1789.209961,881300,0,0,3.534037e+08,428351800,0.110968,...,False,1577145600,0.623490,0.781831,-0.050649,-0.998717,0.866025,-0.5,0.990532,-0.137279
2019-12-26,1801.010010,1870.459961,1799.500000,1868.770020,6005400,0,0,3.591231e+08,434357200,0.148106,...,False,1577318400,-0.900969,0.433884,0.347305,-0.937752,0.866025,-0.5,0.994671,-0.103102
2019-12-27,1882.920044,1901.400024,1866.010010,1869.800049,6186600,0,0,3.542616e+08,440543800,0.038199,...,False,1577404800,-0.900969,-0.433884,0.528964,-0.848644,0.866025,-0.5,0.996298,-0.085965
2019-12-30,1874.000000,1884.000000,1840.619995,1846.890015,3674700,0,0,3.516491e+08,436869100,0.026659,...,False,1577664000,1.000000,0.000000,0.918958,-0.394356,0.866025,-0.5,0.999407,-0.034422
2019-12-31,1842.000000,1853.260010,1832.229980,1847.839966,2506500,0,0,3.528636e+08,439375600,0.053330,...,False,1577750400,0.623490,0.781831,0.979530,-0.201299,0.866025,-0.5,0.999852,-0.017213

In [7]:
print(df.shape)
print(df.columns)

(1762, 111)
Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'volume_adi', 'volume_obv', 'volume_cmf',
       ...
       'Is_year_start', 'Elapsed', 'weekday_cos', 'weekday_sin',
       'day_month_cos', 'day_month_sin', 'month_year_cos', 'month_year_sin',
       'day_year_cos', 'day_year_sin'],
      dtype='object', length=111)

In [8]:
# Defining model parameters
# shifts = number of days in the future to predict stocks
shifts = [1,5,10] # different number of days to use for predicting
train_size = 0.7 # percent of data to use for training
# plotting dimensions
w = 16
h = 6

In [9]:
# Create lag function
def createLags(df,lag_size):
    shift = -lag_size # want to go backwards in time
    df['Close'].shift(shift)
    return df, shift

In [10]:
# Split data into train/test
# TODO change to give train, validation, and test?
def splitData(df,train_size,shift):
    # get number of rows for training set
    num_train_rows = int(len(df)*train_size) 
    train = df.iloc[0:num_train_rows,:]
    test = df.iloc[train_pt:,:]
    
    x_train = train.iloc[:shift,1:-1] # don't want to include time column
    y_train = train.iloc['Close_lag'][:shift]
    x_test = test.iloc[:shift,1:-1]
    y_test = test.iloc['Close_lag'][:shift]
    
    return x_train, y_train, x_test, y_test

In [11]:
# Ensuring that features have the right data type
def correctFeatures(df):
    for col in df.columns:
        if object in df[col].dtypes:
            # categorical
            df[col].astype('category')
        else:
            # numerical - we only have 2 types of data
            df[col] = df[col].astype(float)
    return df